@import './bootstrap.min (1).css';

li {
  list-style: none;
}

.avatar {
  margin-left: 10px;
}
.profileImage {
  width: 40px;
  height: 40px;
}
.logout {
  margin-right: 10px;
}
.pricing {
  background: rgb(73, 181, 231);
  background: linear-gradient(
    0deg,
    rgba(73, 181, 231, 1) 0%,
    rgba(149, 11, 226, 1) 13%,
    rgba(29, 28, 5, 1) 50%
  );
  height: 100vh;
}

.videoPage {
  height: 100vh;
}

.videoPlayer {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.full {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blur {
  padding: 60px;
  border-radius: 30px;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}

.back {
  background-image: url('https://res.cloudinary.com/dcwcyu4gi/image/upload/v1663684177/wallpaperflare.com_wallpaper_aeuytr.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}

.cardx {
  margin: 20px;
}
